<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>HttpSessionDemo</servlet-name>
        <servlet-class>servlet.HttpSessionDemo</servlet-class>
        <!--支持异步处理-->
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>HttpSessionDemo</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>listener.ServletContextListenerDemo</listener-class>
    </listener>

    <context-param>
        <param-name>name</param-name>
        <param-value>android</param-value>
    </context-param>

    <distributable/>

    <error-page>
        <location>/my</location>
        <error-code>404</error-code>
        <exception-type>javax.servlet.ServletException</exception-type>
    </error-page>

    <filter>
        <filter-name>log</filter-name>
        <filter-class>filter.FilterDemo</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>log</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>